@{
  Layout = "_Layout";
}
<h1>Tamagotchi</h1>
<p>Have an electronic pet to play with!  Keep it alive by feeding, playing , and putting it to sleep.  But be careful, if it doesn't get enough food, attention, or rest it will die!</p>
<a href="/games/new">Make a Tamagotchi</a>
