@{
  Layout = "_Layout";
}
<h1>Start a New Game</h1>
<form action="/games" method="post">
  <div class="form-group">
    <label for="name">Tamagotchi Name:</label>
    <input id="name" name="name" type="text" required>
  </div>
  <button type="submit">Start New Game</button>
</form>
<div class="footer">
  <a href="/">Return to Home</a>
  <a href="/item">View Current Games</a>
</div>